---
---
@import "theme";

.article {
  padding: 10px;
  text-align: center;
  border-color: map-get($thistle, light);
  border-width: 0 0 2px 0;
  border-style: solid;
}

.article-read-time {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
