---
---
@import "theme";

#footer {
  background-color: map-get($baby_blue, medium);
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  border-top-style: outset;
  border-top-color: map-get($baby_blue, light); 
  padding-top: 5px;
  margin-top: 10px;
}

.footer-icons {
  text-align: center;
}

.footer-icon {
  text-decoration: none;
}

.footer-icon svg {
  width: 25px;
  color: black;
}

#footer p {
  margin: 0;
  font-size: 10px;
  text-align: center;
}
