---
---
@import "theme";

.nav-header {
  right: 0px;
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: map-get($thistle, medium);
  z-index: 99;
  border-bottom-style: outset;
  border-bottom-color: map-get($thistle, dark); 
  animation-delay: 150ms;
  animation-duration: 1s;
  animation-name: slide_down;
  box-shadow: 0px 10px 10px 0 rgba(34, 34, 34, 0.1);
}

@keyframes slide_down {
  from {
    top: -150px;
  }
  to {
    top: 0;
  }
}

nav {
  display: flex;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#logo {
  float: left;
}

#logo-image {
  height: 50px;
  object-fit: cover;
}

#burger-menu {
  float: right;
  padding-top: 15px;
  width: 50px;
  @media only screen and (min-width: 720px) {
    display: none;
  }
}

.burger-line {
  width: 27px;
  background-color: rgb(53, 63, 82);
  height: 2px;
  margin: auto auto 6px;
}

.cross-line {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 50%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgb(53, 63, 82);
}

.cross-line-1 {
  transform: rotate(-45deg);
}

.cross-line-2 {
  transform: rotate(45deg);
}

#mobile-menu-condensed {
  @media only screen and (min-width: 720px) {
    display: none;
  }
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#mobile-menu-opened {
  visibility: hidden;
  position: absolute;
  width: 100%;
  left: 0;
  background-color: map-get($thistle, light);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-style: outset;
  border-bottom-color: map-get($thistle, medium); 
  box-shadow: 0px 10px 10px 0 rgba(34, 34, 34, 0.1);
}

#menu-cross {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
}

.mobile-menu-item-content {
  width: 100%;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 2;
  color: black;
  text-decoration: none;
}

.mobile-menu-item {
  list-style-type: none;
  padding: 5px;
  text-align: center;
}

.mobile-menu-list {
  padding: 0;
}

.menu-items {
  display: none;
  @media only screen and (min-width: 720px) {
    display: flex;
  }
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
  width: 100%;
}

.menu-item-content {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#nav-toggle {
  display: none;
}

#nav-toggle:checked + div {
  visibility: visible;
  animation-duration: 1s;
  animation-name: slide_down;
}

body {
  padding-top: 100px;
}
