---
---
@import "theme";

.posts-title {
  text-align: center;
}

.posts-wrapper {
  border-width: 1px 0 0 0;
  border-color: map-get($thistle, dark);
  border-style: double;
  margin-left: -30px;
  margin-right: -30px;
}

.articles {
  display: flex;
  flex-direction: column;
}

.article:nth-child(2n+1) {
  background-color: map-get($thistle, extra-light);
}
