---
---
@import "theme";

.posts-title {
  text-align: center;
}

.posts-wrapper {
  border-width: 1px 0 0 0;
  border-color: map-get($baby_blue, dark);
  border-style: double;
}

.articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.article {
  margin-top: 10px;
  border-color: map-get($baby_blue, light);
  width: 260px;
  max-width: 260px;
}
