---
---
@import "theme";

.summary-title {
  text-align: center;
}

.summary-description {
  text-align: center;
}

.summary {
  border-width: 0 0 5px 0;
  border-color: map-get($thistle, extra-dark);
  border-style: double;
  margin-left: -10px;
  margin-right: -10px;
}
