<article class="article">
  <header class="article-header">
    <h3>
      <a class="article-title" href="{{ article.url }}" rel="bookmark">
        {{ article.title }}
      </a>
    </h3>
    {% if article.image.thumbnail %}
      <img class="article-image" src="{{ article_image }}" alt="">
    {% endif %}
  </header>
  <div class="article-excerpt">
    {% if article.excerpt %}
      {{ article.excerpt | markdownify }}
    {% endif %}
  </div>
  <div class="article-more-link">
    <a href="{{ article.url }}">
      <button>
        Read More
      </button>
    </a>
  </div>
  <div class="article-read-time">
    {% assign words = article.content | strip_html | number_of_words %}
    <span class="read-time">
      {%- if words < 200 -%}
      ~1 min read
      {%- else -%}
      {{ words | divided_by:200 }} min read
      {%- endif -%}
    </span>
    {% if article.date %}
      <time class="article-date" datetime="{{ article.date | date_to_xmlschema }}">
        {%- assign date_format = "%B %-d, %Y" -%}
        {{ article.date | date: date_format }}
      </time>
    {% endif %}
  </footer>
</article>
