<link rel="stylesheet" href={{ site.baseurl | append: "/assets/sass/footer.css" }}>
<footer id="footer">
    <div class="footer-icons">
      {%- if site.twitter_url -%}
        <a class="footer-icon" href="{{ site.twitter_url }}">
          {% include images/twitter-square-brands.svg %}
        </a>
      {%- endif -%}
      {%- if site.linkedin_url -%}
        <a class="footer-icon" href="{{ site.linkedin_url }}">
          {% include images/linkedin-brands.svg %}
        </a>
      {%- endif -%}
      {%- if site.github_url -%}
        <a class="footer-icon" href="{{ site.github_url }}">
          {% include images/github-square-brands.svg %}
        </a>
      {%- endif -%}
      {%- if site.rss_feed -%}
        <a class="footer-icon" href="/feed.xml">
          {% include images/rss-square-solid.svg %}
        </a>
      {%- endif -%}
    </div>
    <p>Feedback welcome via github issues</p>
</footer>
