<link rel="stylesheet" href={{ site.baseurl | append: "/assets/sass/nav.css" }}>
<header class="nav-header">
  <nav>
    <div id='logo'>
      <a href={{ site.baseurl | append: "/" }}>
        <img id='logo-image' src={{ site.baseurl | append: site.logo }} />
      </a>
    </div>
    <div class="menu-items">
      {% for menu_item in site.menu %}
        <div class='menu-item'>
          <a class="menu-item-content" href={{ site.baseurl | append: menu_item.href }}>
            {{ menu_item.text }}
          </a>
        </div>
      {% endfor %}
    </div>
    <div id="mobile-menu-condensed">
      <div id="burger-menu">
        <label for="nav-toggle">
          <div class="burger-line"></div>
          <div class="burger-line"></div>
          <div class="burger-line"></div>
        </label>
      </div>
    </div>
    <input type="checkbox" id="nav-toggle" />
    <div id="mobile-menu-opened">
      <div id="menu-cross">
        <label for='nav-toggle'>
          <div class="cross-line cross-line-1"></div>
          <div class="cross-line cross-line-2"></div>
        </label>
      </div>
      <ul class='mobile-menu-list'>
        {% for menu_item in site.menu %}
          <li class='mobile-menu-item'>
            <a class="mobile-menu-item-content" href={{ site.baseurl | append: menu_item.href }}>
              {{ menu_item.text }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>
