$aquafresh: (
  medium: hsl(144%, 66%, 92%),
);
$bisque: (
  medium: hsl(32%, 92%, 81%),
);
$plum: (
  medium: hsl(339%, 9%, 68%),
);
$thistle: (
  light: hsl(327%, 15%, 92%),
  medium: hsl(327%, 15%, 72%),
  dark: hsl(327%, 15%, 52%),
);
$light_steel: (
  medium: hsl(245%, 15%, 48%),
);
