$moss: (
  extra-light: hsl(102%, 71%, 98%),
  light: hsl(102%, 71%, 90%),
  medium: hsl(102%, 71%, 81%),
  dark: hsl(102%, 71%, 61%),
  extra-dark: hsl(102%, 71%, 21%),
);
$bisque: (
  extra-light: hsl(32%, 92%, 98%),
  light: hsl(32%, 92%, 90%),
  medium: hsl(32%, 92%, 81%),
  dark: hsl(32%, 92%, 61%),
  extra-dark: hsl(32%, 92%, 21%),
);
$canary: (
  extra-light: hsl(52%, 100%, 98%),
  light: hsl(52%, 100%, 90%),
  medium: hsl(52%, 100%, 81%),
  dark: hsl(52%, 100%, 61%),
  extra-dark: hsl(52%, 100%, 21%),
);
$thistle: (
  extra-light: hsl(327%, 15%, 98%),
  light: hsl(327%, 15%, 90%),
  medium: hsl(327%, 15%, 81%),
  dark: hsl(327%, 15%, 61%),
  extra-dark: hsl(327%, 15%, 21%),
);
$baby_blue: (
  extra-light: hsl(212%, 92%, 98%),
  light: hsl(212%, 92%, 90%),
  medium: hsl(212%, 92%, 81%),
  dark: hsl(212%, 92%, 61%),
  extra-dark: hsl(212%, 92%, 21%),
);
