@import "theme";

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

h1, h2, h3, h4, h5, h6, p, {
  color: map-get($baby_blue, extra-dark);
}

a {
  color: map-get($baby_blue, extra-dark);
  text-decoration: none;
  cursor: pointer;
}
