@import "theme";

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a, h1, h2, h3, h4, h5, h6, p, span, time {
  color: map-get($thistle, extra-dark);
  font-family: monospace;
}

a {
  text-decoration: none;
  cursor: pointer;
}
